<!doctype html>
<html ng-app="viz">
<head>
	<link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="ExamplesController as vm">
	
	<viz-scatterplot data="vm.scatterplotData"></viz-scatterplot>

	<!--<viz-heatmap dimensions="vm.dimensions" data="vm.heatmapData"></viz-heatmap>-->

  <viz-bar-chart height="300" width="500" data="vm.barChartData"></viz-bar-chart>

	<form>
		<label for="x">X</label>
		<input name="x" ng-model="vm.newData.x">

		<label for="y">Y</label>
		<input name="y" ng-model="vm.newData.y">

		<label for="radius">Radius</label>
		<input name="radius" ng-model="vm.newData.radius">

		<button ng-click="vm.addDatapoint()">Add Datapoint</button>
	</form>

	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/d3/d3.js"></script>

	<script src="app.js"></script>
	<script src="ExamplesController.js"></script>

	<script src="components/scatterplot/viz-scatterplot.directive.js"></script>
	<script src="components/scatterplot/viz-scatterplot.controller.js"></script>

	<script src="components/heatmap/viz-heatmap.js"></script>

  <script src="components/viz-bar-chart/viz-bar-chart.directive.js"></script>
  <script src="components/viz-bar-chart/viz-bar-chart.controller.js"></script>
</body>
</html>